<div class="comments">
  {{#each this}}
    <div class="comment">
      <div class="bg-danger">
        {{user.username}}
        on

      </div>
      <div class="bg-info">
        {{comment_text}}
      </div>
    </div>
  {{/each}}
</div>