<div style="margin-top: 50px; margin-left: 30px;">
  <ul style="list-style: none;">
    <li class="active">{{user.username}}</li>
  </ul>
  <div class="course">
    <div class="box">
      <h3><a href="/post/{{id}}"></a>{{title}}</h3>
      <p>
        {{post_content}}
      </p>
      <div class="text">
        <div class="b-tags">

        </div>
      </div>
      <div>

      </div>
      <i class="fa fa-crow"></i>
    </div>
  </div>
</div>