<div class="section">
  <div class="main1">
    <div class="main-top1">
      <h2>Create a New Posts</h2>

      <i class="fas fa-mug-hot"></i>
    </div>
    <div class="main-skills1">
      <div class="card1">
        <form class="new-post-form">
          <i class="fas fa-kiwi-bird h3"></i>
          <h3>Add a new post</h3>
          <label for="post-title">Title</label>
          <div>
            <input type="text" class="post-title" />
          </div>

          <br />
          <label for="textarea">Content</label>
          <div>
            <input class="textarea" id="post-content" />
          </div>
          <button id="startButton" type="submit">Create Post</button>
        </form>
      </div>
    </div>
  </div>
</div>

<script src="/js/add-post.js"></script>