* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/* header style */

header {
  background-color: #000;
  color: #fff;
  height: 80px;
  width: 100%;
  display: block;
  min-width: 550px;
}

.inner_header {
  width: 70%;
  height: 100%;
  display: block;
  margin: 0 auto;
  min-width: 598px;
}

.logoContainer {
  height: 100%;
  display: table;
  float: left;
}

.logoContainer h1 {
  height: 100%;
  display: table-cell;
  vertical-align: middle;
  font-size: 32px;
  font-family: monospace;
}

.navigation {
  float: right;
  height: 100%;
}

.navigation a {
  height: 100%;
  display: table;
  float: left;
  padding: 20px;
  text-decoration: none;
}
.navigation li {
  list-style: none;
  text-decoration: none;
  color: #fff;
  font-size: 20px;
}

.navigation a li {
  display: table;
  vertical-align: middle;
}

.navigation a:last-child {
  padding-right: 0;
}

/* -------header style end--------- */

/* ------SIGN IN--------- */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #000;
  /* background-color: #fff; */
}

section {
  position: absolute;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 2px;
  flex-wrap: wrap;
  overflow: hidden;
}

section::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  /* background: linear-gradient(#000, #fff, #000); */
  background: linear-gradient(#fff, #000, #fff);
  animation: animate 5s linear infinite;
}

@keyframes animate {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(100%);
  }
}

section span {
  position: relative;
  display: block;
  width: calc(6.25vw - 2px);
  height: calc(6.25vw - 2px);
  background: #181818;
  /* background: #fff; */
  z-index: 2;
  transition: 1.5s;
}

section span:hover {
  background: #fff;
  /* background: #000; */
  transition: 0s;
}

/* responsive design for login  */

@media screen and (max-width: 680px) {
  section span {
    position: relative;
    display: block;
    width: calc(12.25vw - 2px);
    height: calc(12.25vw - 2px);
    background: #0066ff;
    /* background: #fff; */
    z-index: 2;
    transition: 1.5s;
  }
}

section .signing {
  position: absolute;
  width: 400px;
  background-color: #222;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  border-radius: 4px;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
}

section .signing {
  position: absolute;
  width: 400px;
  background-color: #222;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  border-radius: 4px;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
}

section .signing .content {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;
}

section .signing .content h2 {
  font-size: 2em;
  color: #fff;
}

section .signing .content .form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

section .signing .content .form .inputBx {
  position: relative;
  width: 100%;
}

section .signing .content .form .inputBx input {
  background: #333;
  position: relative;
  width: 100%;
  border: none;
  outline: none;
  padding: 25px 10px 7.5px;
  border-radius: 4px;
  color: #fff;
  font-weight: 500;
  font-size: 1em;
}

.signing .content .form .inputBx i {
  position: absolute;
  left: 0;
  padding: 15px 10px;
  font-style: normal;
  color: #aaa;
  transition: 0.5s;
  pointer-events: none;
}

.signing .content .form .inputBx input:focus ~ i,
.signing .content .form .inputBx input:valid ~ i {
  transform: translateY(-7.5px);
  font-size: 0.8em;
  color: #fff;
}

.signing .content .form .links {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.signing .content .form .links a {
  color: #fff;
  text-decoration: none;
}

.signing .content .form .links a:nth-child(2) {
  color: #fff;
  font-weight: 600;
}

.signing .content .form .inputBx input[type="submit"] {
  padding: 10px;
  background: #0066ff;
  color: #111;
  font-weight: 600;
  font-size: 1.25em;
  letter-spacing: 0.05em;
  cursor: pointer;
}

/* ------ /SIGN IN--------- */

.container1 {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  /* background-color: #000; */
  background-color: #bdc3c7;
}

main {
  position: absolute;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 2px;
  flex-wrap: wrap;
  overflow: hidden;
}

main::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(#000, #fff, #000);
  /* background: linear-gradient(#bdc3c7, #000, #fff); */
  animation: animate 5s linear infinite;
}

@keyframes animate {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(100%);
  }
}

main .span {
  position: relative;
  display: block;
  width: calc(6.25vw - 2px);
  height: calc(6.25vw - 2px);
  /* background: #181818; */
  background: #bdc3c7;
  z-index: 2;
  transition: 1.5s;
}

main .span:hover {
  /* background: #fff; */
  background: #000;
  transition: 0s;
}

main .signing1 {
  position: absolute;
  width: 500px;
  background-color: #222;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  border-radius: 4px;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
}

main .signing1 .content1 {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;
}

main .signing1 .content1 h2 {
  font-size: 2em;
  color: #fff;
}

main .signing1 .content1 .form1 {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

main .signing1 .content1 .form1 .inputBx1 {
  position: relative;
  width: 100%;
}

main .signing1 .content1 .form1 .inputBx1 input {
  background: #333;
  position: relative;
  width: 100%;
  border: none;
  outline: none;
  padding: 25px 10px 7.5px;
  border-radius: 4px;
  color: #fff;
  font-weight: 500;
  font-size: 1em;
}

.signing1 .content1 .form1 .inputBx1 i {
  position: absolute;
  left: 0;
  padding: 15px 10px;
  font-style: normal;
  color: #aaa;
  transition: 0.5s;
  pointer-events: none;
}

.signing1 .content1 .form1 .inputBx1 input:focus ~ i,
.signin1 .content1 .form1 .inputBx1 input:valid ~ i {
  transform: translateY(-7.5px);
  font-size: 0.8em;
  color: #fff;
}

.signing1 .content1 .form1 .links1 {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.signing1 .content1 .form1 .links1 a {
  color: #fff;
  text-decoration: none;
}

.signing1 .content1 .for1 .links1 a:nth-child(2) {
  color: #fff;
  font-weight: 600;
}

.signing1 .content1 .form1 .inputBx1 input[type="submit"] {
  padding: 10px;
  background: #0066ff;
  /* background: linear-gradient(#bdc3c7, #2c3e50); */
  color: #111;
  font-weight: 600;
  font-size: 1.25em;
  letter-spacing: 0.05em;
  cursor: pointer;
}

@media (max-widh: 900px) {
  section span {
    position: relative;
    display: block;
    width: calc(10vw - 2px);
    height: calc(10vw - 2px);
  }
}

/* aside */

.container-main {
  width: 100%;
}

.body {
  background: #dfe9f5;

  display: flex;
}

.container-post {
  display: flex;
}
nav {
  position: relative;
  top: 0;
  bottom: 0;
  min-height: 100vh;
  height: auto;
  left: 0;
  background: #fff;
  width: 280px;
  overflow: hidden;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}
.logo {
  text-align: center;
  display: flex;
  margin: 10px 0 0 10px;
}
.logo span {
  font-weight: bold;
  padding-left: 15px;
  font-size: 18px;
  text-transform: uppercase;
}

.table {
  display: table;
}

a {
  position: relative;
  font-size: 14px;

  padding: 10px;
  text-decoration: none;
  color: rgb(85, 83, 83);
}

nav .fas {
  position: relative;
  width: 70px;
  height: 40px;
  top: 14px;
  font-size: 20px;
  text-align: center;
}

.nav-item {
  position: relative;
  top: 12px;
  margin-left: 10px;
}

.logout1 {
  position: absolute;
  bottom: 0;
}

.div {
  width: 40px;
  height: 40px;
  background: black;
  border-radius: 50%;
  border-left: 10px solid #00ccff;
  animation: turn 2s linear infinite;
  -webkit-animation: turn 2s linear infinite;
  -moz-animation: turn 4s linear infinite;
}

@-webkit-keyframes turn {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@-moz-keyframes turn {
  100% {
    -moz-transform: rotate(360deg);
  }
}

@keyframes turn {
  100% {
    transform: rotate(360deg);
  }
}

/* 
main user section  */

.main {
  position: relative;
  padding: 20px;
  width: 100%;
}

.main-top {
  display: flex;
  width: 100%;
}

.main-top i {
  position: absolute;
  right: 0;
  margin: 10px 30px;
  color: rgb(11, 109, 109);
}
.main-skills {
  display: flex;
  margin-top: 20px;
  justify-content: center;
  min-width: 550px;
}

.main-skills .card {
  width: 60%;
  margin: 40px;
  background: #fff;
  text-align: center;
  border-radius: 20px;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}

.main-skills .card .h3 {
  margin: 10px;
  text-transform: capitalize;
}

.main .card button {
  background: orangered;
  color: #fff;
  padding: 7px 15px;
  border-radius: 10px;
  margin-top: 15px;
  cursor: pointer;
  margin-bottom: 20px;
}

.main-skills .card button:hover {
  background: rgba(223, 70, 15, 0.856);
}

.main-skills .card i {
  font-size: 22px;
  padding: 10px;
}

#post-content {
  height: 50px;
  width: 90%;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 10px;
}
/* 
User post */

.main-course {
  margin-top: 20px;
  text-transform: capitalize;
  margin-left: 30px;
}

.course-box {
  width: 90%;
  padding: 10px;
  margin-top: 10px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
  height: auto;
}

.course-box ul {
  list-style: none;
  display: flex;
}

.course-box ul li {
  margin: 10px;
  color: gray;
  cursor: pointer;
}

.course-box ul .active {
  color: #000;
  border-bottom: 1px solid black;
}

.course-box .course {
  display: flex;
  /* justify-content: center; */
}

.box {
  width: 90%;
  padding: 10px;
  margin: 20px;
  border-radius: 10px;
  background: rgb(235, 233, 233);
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
  margin-top: 10px;
  margin-bottom: 50px;
}

.box p {
  margin-top: 20px;
  width: 80%;
  height: auto;
  border-radius: 10px;
  background: white;
  padding: 20px;
}

.box i {
  font-size: 4rem;
  float: right;
  margin: -20px 20px 20px 0;
}

.text {
  display: flex;
  margin-top: 5px;
  width: 80%;
  justify-content: flex-end;
}

.startButton {
  margin-top: 10px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 12px;
  font-weight: bold;
  background: #33b249;
  width: 150px;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  color: #fff;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  -webkit-transform-duration: 0.3s;
  transition-duration: 0.3s;
  transition-property: box-shadow, transform;
}

.startButton:hover,
.startButton:focus,
.startButton:active {
  box-shadow: 0 0 20px rgb(0, 0, 0, 0.5);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.startButton1 {
  margin-top: 10px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 10px;
  font-weight: bold;
  background: #ff0000;
  width: 120px;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  color: #fff;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  -webkit-transform-duration: 0.3s;
  transition-duration: 0.3s;
  transition-property: box-shadow, transform;
}

.startButton1:hover,
.startButton1:focus,
.startButton1:active {
  box-shadow: 0 0 20px rgb(0, 0, 0, 0.5);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.startButton2 {
  margin-top: 10px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 12px;
  font-weight: bold;
  background: #ff0000;
  width: 150px;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  color: #fff;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  -webkit-transform-duration: 0.3s;
  transition-duration: 0.3s;
  transition-property: box-shadow, transform;
}

.startButton2:hover,
.startButton2:focus,
.startButton2:active {
  box-shadow: 0 0 20px rgb(0, 0, 0, 0.5);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.startButton3 {
  margin-top: 10px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 10px;
  font-weight: bold;
  background: #0066ff;
  width: 100px;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  color: #fff;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  -webkit-transform-duration: 0.3s;
  transition-duration: 0.3s;
  transition-property: box-shadow, transform;
}

.startButton3:hover,
.startButton3:focus,
.startButton3:active {
  box-shadow: 0 0 20px rgb(0, 0, 0, 0.5);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.section {
  height: 90vh;
}

.main1 {
  position: relative;
  padding: 20px;
  width: 100%;
}

.main-top1 {
  display: flex;
  width: 100%;
}

.main-top1 i {
  position: absolute;
  right: 0;
  margin: 10px 30px;
  color: rgb(11, 109, 109);
}
.main-skills1 {
  display: flex;
  margin-top: 10%;
  justify-content: center;
  min-width: 800px;
}

.main-skills1 .card1 {
  width: 60%;
  margin: 40px;
  background: #fff;
  text-align: center;
  border-radius: 20px;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}

.main-skills1 .card1 h3 {
  margin: 10px;
  text-transform: capitalize;
}

.main1 .card1 button {
  background: orangered;
  color: #fff;
  padding: 7px 15px;
  border-radius: 10px;
  margin-top: 15px;
  cursor: pointer;
  margin-bottom: 20px;
}

.main-skills1 .card1 i {
  font-size: 22px;
  padding: 10px;
}

.post-title {
  height: 30px;
  width: 80%;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 5px;
}
.textarea {
  height: 90px;
  width: 80%;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 5px;
}

/*-------- footer style---------- */

footer {
  background-color: #000;
  color: #fff;
  height: 70px;
  width: 100%;
  display: block;
}

.inner_footer {
  width: 60%;
  height: 100%;
  display: block;
  margin: 0 auto;
  min-width: 550px;
}
.logoContainer h4 {
  height: 100%;
  display: table-cell;
  vertical-align: middle;
  font-size: 16px;
  font-family: monospace;
}

.popup {
  width: 800px;
  height: auto;
  background-attachment: #0066ff;
  border-radius: 6px;
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.1);
  text-align: center;
  padding: 0 30px 30px;
  color: black;
  visibility: hidden;
  transition: transform 0.4s, top 0.4s;
  z-index: 1002;
  background: white;
}
.popup button {
  width: 150px;
  margin-top: 50px;
  padding: 10px 0;
  background: #0066ff;
  color: #fff;
  border: 0;
  outline: none;
  font-size: 18px;
  border-radius: 4px;
  cursor: pointer;
  z-index: 1002;
}
.open-popup {
  visibility: visible;

  transform: translate(-50%, -45%) scale(0.9);
  top: 50%;
}

.popup1 {
  width: 800px;
  height: auto;
  background-attachment: #0066ff;
  border-radius: 6px;
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.1);
  text-align: center;
  padding: 0 30px 30px;
  color: black;
  visibility: hidden;
  transition: transform 0.4s, top 0.4s;
  z-index: 1004;
  background: white;
}
.popup1 button {
  width: 150px;
  margin-top: 50px;
  padding: 10px 0;
  background: #0066ff;
  color: #fff;
  border: 0;
  outline: none;
  font-size: 18px;
  border-radius: 4px;
  cursor: pointer;
  z-index: 1002;
}
.open-popup1 {
  visibility: visible;

  transform: translate(-50%, -45%) scale(0.9);
  top: 50%;
}
/*-------- footer style---------- */

.box1 {
  width: 60%;
  padding: 10px;
  margin: 20px;
  border-radius: 10px;
  background: rgb(0, 0, 0, 0.5);
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.2);
  margin-top: 10px;
}

.box1 p {
  margin-top: 10px;
  width: 100%;
  height: auto;
  border-radius: 10px;
  background: white;
  padding: 10px;
}

.comments {
  margin-left: 0%;
}

.styled-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  /* box-shadow: 0 0 20px rgba(0, 0, 0, 0.15); */
}

.styled-table thead tr {
  background-color: dodgerblue;
  color: #ffffff;
  text-align: left;
}

.styled-table th,
.styled-table td {
  padding: 12px 15px;
}

.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.loading {
  width: 50px;
  height: 50px;
  background: black;

  border-radius: 50%;
  border-left: 10px solid coral;
  animation: turn 2s linear infinite;
  -webkit-animation: turn 2s linear infinite;
  -moz-animation: turn 2s linear infinite;
}

@-webkit-keyframes turn {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@-moz-keyframes turn {
  100% {
    -moz-transform: rotate(360deg);
  }
}

@keyframes turn {
  100% {
    transform: rotate(360deg);
  }
}
.loading2 {
  width: 50px;
  height: 50px;
  background: black;

  border-radius: 50%;
  border-left: 10px solid pink;
  animation: turn 2s linear infinite;
  -webkit-animation: turn 2s linear infinite;
  -moz-animation: turn 2s linear infinite;
}

@-webkit-keyframes turn {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@-moz-keyframes turn {
  100% {
    -moz-transform: rotate(360deg);
  }
}

@keyframes turn {
  100% {
    transform: rotate(360deg);
  }
}
